// LAYOUT
// --------------------------------------------------------

$font-size-root: 1rem !default;

// Sidebar
$sidebar-width: 250px !default;
$sidebar-padding-x: 0.5rem !default;
$sidebar-padding-y: 0 !default;
$sidebar-custom-height: 4rem !default;
$sidebar-custom-height-lg: 6rem !default;
$sidebar-custom-height-xl: 8rem !default;
$sidebar-custom-padding-x: 0.85rem !default;
$sidebar-custom-padding-y: 0.5rem !default;

// Boxed layout maximum width
$boxed-layout-max-width: 1250px !default;

// Body background (Affects main content background only)
$main-bg: #f4f6f9 !default;

$dark-main-bg: lighten($dark, 7.5%) !important;

// Content padding
$content-padding-y: 0 !default;
$content-padding-x: $navbar-padding-x !default;
