// MAIN HEADER
// --------------------------------------------------------
$main-header-bottom-border-width: $border-width !default;
$main-header-bottom-border-color: $gray-300 !default;
$main-header-bottom-border: $main-header-bottom-border-width
  solid $main-header-bottom-border-color !default;
$main-header-link-padding-y: $navbar-padding-y !default;
$main-header-height-inner: (
  $nav-link-height + ($main-header-link-padding-y * 2)
) !default;
$main-header-height: calc(
  #{$main-header-height-inner} + #{$main-header-bottom-border-width}
) !default;
$nav-link-sm-padding-y: 0.35rem !default;
$nav-link-sm-height: (
  $font-size-sm * $line-height-sm + $nav-link-sm-padding-y *
    1.785
) !default;
$main-header-height-sm-inner: (
  $nav-link-sm-height + ($main-header-link-padding-y * 2)
) !default;
$main-header-height-sm: calc(
  #{$main-header-height-sm-inner} + #{$main-header-bottom-border-width}
) !default;

// Main header skins
$main-header-dark-form-control-bg: $gray-800 !default;
$main-header-dark-form-control-focused-bg: $gray-700 !default;
$main-header-dark-form-control-focused-color: $gray-400 !default;
$main-header-dark-form-control-border-color: $gray-600 !default;
$main-header-dark-form-control-focused-border-color: $gray-600 !default;
$main-header-dark-placeholder-color: rgba(
  $white,
  0.6
) !default;

$main-header-light-form-control-bg: shift-color(
  $gray-200,
  5%
) !default;
$main-header-light-form-control-focused-bg: shift-color(
  $gray-200,
  7.5%
) !default;
$main-header-light-form-control-focused-color: $gray-400 !default;
$main-header-light-form-control-border-color: $gray-400 !default;
$main-header-light-form-control-focused-border-color: shift-color(
  $gray-400,
  2.5%
) !default;
$main-header-light-placeholder-color: rgba(
  0,
  0,
  0,
  0.6
) !default;
